# Binary Files
Binaries/*

# Compiled source files for the engine to use
Intermediate/*

# Cache files for the editor to use
DerivedDataCache/*
.vsconfig

# Ignore the .vs folder which contains Visual Studio specific files
.vs/*